@charset 'utf-8';
@use 'css/icomoon.css';

@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);


button{
	background: none;
	border: none;
	padding: 0;
	/*optional*/
	font-family: arial, sans-serif;
	/*input has OS specific font-family*/
	color: rgb(0, 0, 0);
	text-decoration: none;
	cursor: pointer;
	font-size: 20px;
}

.fullscreen {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);

	.nav-header {
		display: flex;
		flex: row;

		padding: 16px;
		text-transform: uppercase;
		// background-color: rgb(255, 200, 50);
		// border-bottom: black 2px solid;
		// box-shadow: 0px 5px 5px black;
		z-index: 1000;

		h1 {
		margin: auto;
		}

		button{
			font-size: 36px;
			padding: 4px;
			border-radius: 4px;

			&:hover{
				color: white;
				background-color: cornflowerblue;
			}
		}
	}

	.body {
		display: flex;
		flex-direction: row;
		flex-grow: 1;

		.container{
			font-size: 20px;
			margin: 32px;
		}
	
		.nav-menu {
			height: 100%;
			box-sizing: border-box;
			max-width: 100%;

			font-weight: 300;
			font-size: 20px;
			padding: 0;

			transition: max-width 0.2s;
			background-color: rgb(197, 202, 233);
			padding-top: 0;
			padding: 0 32px;
			overflow: hidden;

			// button, a {
			// 	background: none;
			// 	border: none;
			// 	padding: 0;
			// 	font-family: arial, sans-serif;
			// 	color: rgb(0, 0, 0);
			// 	text-decoration: none;
			// 	cursor: pointer;
			// 	font-size: 24px;

			// 	&:hover{
			// 		color: rgb(255, 255, 255);
			// 		text-shadow: 0 0 10px black, 0 0 20px black;
			// 		color: var(--primary-text-highlight);
			// 		transform: scale3d(1.05, 1.05, 1.05);
			// 	}
			// }

			.content{
				padding-top: 16px;
			}

			.container {
				width: max-content;
				overflow: visible;
				margin: auto;
			}
			
			ul {
				list-style: none;
				padding: 0;
			}
	
			&--collapsed {
				max-width: 0;
				padding-left: 0;
				padding-right: 0;
			}
		}
	
		.view {
			display: block;
			flex-basis: 0;
			flex-grow: 1;
			width: 0;
			background-color: cornflowerblue;

			h2 {
				color: white;
				margin: 0;
			}

			.panel {
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-start;

				color: white;

				// width: 450px;
				max-width: 95%;
				max-height: 95%;
				padding: 30px 40px;
				box-sizing: border-box;
				text-transform: uppercase;
				background-color: var(--theme-primary);
				border-radius: 16px;
			}

			.container{
				// padding: 16px;
				// background-color: rgb(100, 100, 100);
				// border-radius: 16px;
				// border-color: black;
				// border-style: solid;
				// border-width: 2px;

				.content ul {
					padding-left: 20px;

					li {
						margin-bottom: 8px;
					}
				}
			}

			ul  {
				padding: 0;
			}
		}
	}
}

