name: Deploy to GItHub Pages
on: [push]
jobs:
  compile-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Deploy with gh-pages
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npm gh-pages run deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
